.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px
}
.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text p{
    line-height: 1.625;
    font-size: 18px;

}
.text  h1 {
    color: #183661;
    font-size: 35px;
}
.img {
    height: 400px;
}