.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%
}
.img  {
    height:auto;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
.text h1 {
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    color: #183661;

}
.btn {
    border:none;
    width: 100%;
    padding: 20px;
    background: #183661;
    color: white;
    font-size: 20px;
    border-radius: 50px
    

}
.text p{
    color: #f2c119;
    font-size: 30px;

}
