.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-image: url(../images/banner.jpg);
    background-attachment: scroll;
   background-repeat: no-repeat;
   background-size: cover;width: 100%;
}

@media screen and (max-width:900px){
    .content{
        background: wheat;
        flex-direction: column;
        gap: 7%
    }
}
.img  {
    height:auto;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
.text h1 {
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    color: #183661;

}
@media screen and (max-width:500px){
    .text h1 {
        font-size: inherit;
        padding-top: 30px
    }
}
.btn {
    border:none;
    width: 100%;
    padding: 20px;
    background: #183661;
    color: white;
    font-size: 20px;
    border-radius: 50px
    

}
.text p{
    color: #f2c119;
    font-size: 30px;

}
@media screen and (max-width:500px){
    .text p {
        font-size: inherit;
        padding-top: 30px
    }
}
