* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-family:  sans-serif;

}
.head {
  background: white;
  width: 100%;
  padding: 10px;
  color: #f3a20d;
  text-align: center;
  font-size: 30px;
}
@media screen and (max-width:900px){
 .head {
   font-size: 18px
 }
}
.btn {
  width: 200px;
  padding: 20px;
  background: #183661;
  border: none;
  color: white;
  font-size: 18px;
  
}
